
$gap: 10px;
$inputWidth: 150px;


.flex {
    display: flex;
    gap: $gap;
    align-items: center;
}

.flex-col {
    display: flex;
    gap: $gap;
    flex-direction: column;
}

.form-grid {
    gap: 10px;
    display: flex;
    flex-direction: column;
    
    @media only screen and (min-width: 768px) {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 15% 1fr;
        align-items: baseline;

        .label {
            text-align: right;
        }

    }

    .label {
        font-weight: bold;
        align-self: baseline;    
        color: brown;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 2px;
    }


}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);
    }


    & > div {
        display: flex;
        align-items: center;
        gap: 1px;
    }
}

.checkbox-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

button {
    border: brown solid 1px;
    background-color: antiquewhite;
    color: brown;
    border-radius: 10px;

    height: 2em;

    &:hover {
        background-color: brown;
        color: antiquewhite;
        transition: ease-out .5s;
    }

    &:active {
        background-color: white;
    }
}

input[type="text"],
input[type="number"] {
    border: 1px solid brown;
    border-radius: 4px;
    padding: 5px;
    width: $inputWidth;

    &.long {
        width: 2 * $inputWidth + $gap;
    }

    &.short {
        width: 50px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:invalid {
    background-color: lightpink;
}
